:root {
	--fg: #000;
	--bg: #fff;
    --gray1: #ddd;
    --gray2: #ccc;
    --gray3: #aaa;
    --gray4: #444;
    --dark: #aaa;
}

@media (prefers-color-scheme: dark) {
	:root {
		--fg: #fff;
		--bg: #111;
        --gray1: #222;
        --gray2: #333;
        --gray3: #444;
        --gray4: #bbb;
        --dark: #222;
	}
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url(./fonts/JetBrainsMono-Medium.woff2) format(woff2);
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url(./fonts/SourceSansPro-Regular.woff2) format(woff2);
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LatinModernMath';
    src: url(./fonts/latinmodern-math.woff2) format(woff2);
    font-style: normal;
    font-display: swap;
}

.monospace {
  font-family: "JetBrainsMono", monospace;
}

.sansserif {
  font-family: "SourceSansPro", sans-serif;
}

body {
	color: var(--fg);
	background-color: var(--bg);
	margin: 0rem auto;
	max-width: 60rem;
	padding: 1rem;
	font: 1rem/1.5rem sans-serif;
    fill: var(--fg);
}

p {
    text-align: justify;
    text-justify: inter-word;
	font: 500 1rem/1.5rem sans-serif;
    margin: 1rem 0rem;
}

a {
    font: 0.9rem monospace;
	color: var(--fg);
	background-color: var(--bg);
}

a:hover {
	color: var(--bg);
	background-color: var(--fg);
	text-decoration: none;
}

ul, ol {
    list-style-position: inside;
    margin: 0rem;
    padding: 0rem;
    text-align: justify;
    text-justify: inter-word;
    font: 500 1rem/1.5rem sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-family: monospace;
    margin: 2rem 0rem 0rem;
}

h1 {
    font-size: 2.0rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.2rem;
}

header svg {
	width: 2.5rem;
	height: 2.5rem;
	display: block;
	border: 2pt solid var(--bg);
    margin-bottom: 1.5rem;
}

header a {
    display: contents;
}

header svg:hover {
    fill: var(--bg);
    background-color: var(--fg);
	border: 2pt solid var(--fg);
}

header h1 {
    color: var(--fg);
    font: 700 2.0rem monospace;
    margin: 0rem 0rem 1.5rem;
    padding: 0rem 0rem 0.5rem;
    border-bottom: 2pt solid var(--fg);
}

header h2 {
    color: var(--gray4);
    font: 0.8rem monospace;
    margin: 0rem 0rem 0.2rem;
}

footer {
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: -1rem;
    border-top: 2pt solid var(--gray4);
    color: var(--gray4);
	text-align: center;
	font: 0.8rem/1rem monospace;
}

footer a {
    color: inherit;
    font: inherit;
    text-decoration: inherit;
}

code {
    display: block;
    padding: 1rem 1rem 1.5rem;
    overflow: auto;
    white-space: pre;
    color: var(--gray4);
    background-color: var(--gray2);
    font: 500 0.9rem monospace;
    margin: 1rem;
}

figure {
    margin: 2rem auto;
    display: block;
    max-width: 95%;
}

img {
    display: block;
    height: auto;
    max-width: 95%;
    margin: 0rem auto;
}

figcaption {
    color: var(--gray4);
    font: 0.8rem monospace;
    padding: 0.8rem;
    text-align: center;
    margin: 0rem;
}

table {
    font: 500 0.9em monospace;
    color: var(--gray4);
    background: var(--gray2);
    display: block;
    margin: 0rem auto;
    padding: 0rem;
    max-width: 95%;
    overflow-x: auto;
    border: none;
    border-collapse: collapse;
}

tr, td, th {
    margin: 0rem;
    padding: 0.3rem 0.5rem;
    text-align: left;
    vertical-align: middle;
    border: 1pt solid var(--bg);
}

th {
    font-weight: 700;
    color: var(--fg);
    background-color: var(--dark);
}

math {
    font: 1.5rem LatinModernMath;
}

div.mathbox {
    margin: 0rem;
    padding: 1rem;
    max-width: 95%;
    overflow: auto;
}

.home {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 75vh;
}

#homesvg {
    width: 100px;
    height: 100px;
}

.list-heading {
	margin: 0.5rem;
}

time.responsive {
    display: none;
}

@media (min-width: 40rem) {
    time.responsive {
        display: inline;
    }
}
