ul {
    padding: 0rem;
    margin: 0rem;
    list-style-type: none;
}

li {
    padding: 0rem;
    margin: 1.5rem 0rem;
}

ul h3 {
    font: bold 1rem JetBrainsMono, monospace;
    margin: 0rem;
}

time {
    display: block;
    color: var(--gray4);
    font: normal 0.8rem JetBrainsMono, monospace;
    margin: 0rem;
}
