:root {
	--fg: #000;
	--bg: #fff;
    --gray4: #444;
}

@media (prefers-color-scheme: dark) {
	:root {
		--fg: #fff;
		--bg: #111;
        --gray4: #bbb;
	}
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url(../fonts/JetBrainsMono-Medium.woff2) format(woff2);
    font-style: normal;
    font-display: swap;
}

body {
	color: var(--fg);
	background-color: var(--bg);
	font: 1rem/1.5rem JetBrainsMono, monospace;
	max-width: 60rem;
	padding: 1rem;
	margin: 0rem auto;
}

a {
	color: var(--fg);
	background-color: var(--bg);
    text-decoration: underline;
}

a:hover {
	color: var(--bg);
	background-color: var(--fg);
	text-decoration: none;
}

header svg {
	display: block;
    fill: var(--fg);
	width: 2.5rem;
	height: 2.5rem;
	border: 2pt solid var(--bg);
    margin: 0em 0em 1.5rem;
}

header svg:hover {
    fill: var(--bg);
    background-color: var(--fg);
	border: 2pt solid var(--fg);
}

header h1 {
    color: var(--fg);
    font: bold 2rem JetBrainsMono, monospace;
    margin: 0rem 0rem 1.5rem;
    padding: 0rem 0rem 0.5rem;
    border-bottom: 2pt solid var(--fg);
}

header h2 {
    color: var(--gray4);
    font: normal 0.8rem JetBrainsMono, monospace;
    padding: 0rem;
    margin: 0rem;
}

header a {
    display: contents;
}

footer {
    color: var(--gray4);
	font: normal 0.8rem JetBrainsMono, monospace;
	text-align: center;
    padding: 1rem;
    margin: 2rem 0rem -1rem;
    border-top: 2pt solid var(--gray4);
}

footer a {
    color: inherit;
    font: inherit;
    text-decoration: inherit;
}

ul {
    padding: 0rem;
    margin: 0rem;
    list-style-type: none;
}

li {
    padding: 0rem;
    margin: 1.5rem 0rem;
}

h3 {
    font: bold 1rem JetBrainsMono, monospace;
    margin: 0rem;
}

time {
    display: block;
    color: var(--gray4);
    font: normal 0.8rem JetBrainsMono, monospace;
    margin: 0rem;
}
