:root {
	--fg: #000;
	--bg: #fff;
    --gray1: #ddd;
    --gray2: #ccc;
    --gray3: #aaa;
    --gray4: #444;
    --dark: #aaa;
}

@media (prefers-color-scheme: dark) {
	:root {
		--fg: #fff;
		--bg: #111;
        --gray1: #222;
        --gray2: #333;
        --gray3: #444;
        --gray4: #bbb;
        --dark: #222;
	}
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url(../fonts/JetBrainsMono-Medium.woff2) format(woff2);
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url(../fonts/SourceSansPro-Regular.woff2) format(woff2);
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LatinModernMath';
    src: url(../fonts/latinmodern-math.woff2) format(woff2);
    font-style: normal;
    font-display: swap;
}

body {
	color: var(--fg);
	background-color: var(--bg);
	font: 1rem/1.5rem SourceSansPro, sans-serif;
	max-width: 60rem;
	padding: 1rem;
	margin: 0rem auto;
}

p {
	font: normal 1rem/1.5rem SourceSansPro, sans-serif;
    text-align: justify;
    text-justify: inter-word;
    margin: 1rem 0rem;
}

a {
	color: var(--fg);
	background-color: var(--bg);
    font: 0.9rem JetBrainsMono, monospace;
    text-decoration: underline;
}

a:hover {
	color: var(--bg);
	background-color: var(--fg);
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    font-family: JetBrainsMono, monospace;
    margin: 2rem 0rem 0rem;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.2rem;
}

ul, ol {
    text-align: justify;
    text-justify: inter-word;
    padding: 0rem;
    margin: 0rem;
    list-style-position: inside;
}

code {
    display: inline;
    color: var(--gray4);
    font: normal 0.9rem JetBrainsMono, monospace;
}

pre {
    display: block;
    color: var(--gray4);
    background-color: var(--gray2);
    font: normal 0.9rem JetBrainsMono, monospace;
    padding: 1rem 1rem 1.5rem;
    margin: 1rem;
    overflow: auto;
    white-space: pre;
}

figure {
    display: block;
    max-width: 95%;
    margin: 2rem auto;
}

figcaption {
    color: var(--gray4);
    font: normal 0.8rem JetBrainsMono, monospace;
    text-align: center;
    padding: 0.8rem;
    margin: 0rem;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
    margin: 0rem auto;
}

table {
    display: table;
    color: var(--gray4);
    background-color: var(--gray2);
    font: normal 0.9em JetBrainsMono, monospace;
    max-width: 100%;
    padding: 0rem;
    margin: 0rem auto;
    border: none;
    border-collapse: collapse;
}

tr, td, th {
    background-color: var(--gray2);
    text-align: left;
    vertical-align: middle;
    padding: 0.5rem;
    margin: 0rem;
    border: 1pt solid var(--bg);
}

th {
    color: var(--fg);
    background-color: var(--dark);
    font-weight: bold;
}

header svg {
	display: block;
    fill: var(--fg);
	width: 2.5rem;
	height: 2.5rem;
	border: 2pt solid var(--bg);
    margin: 0em 0em 1.5rem;
}

header svg:hover {
    fill: var(--bg);
    background-color: var(--fg);
	border: 2pt solid var(--fg);
}

header h1 {
    color: var(--fg);
    font: bold 2rem JetBrainsMono, monospace;
    margin: 0rem 0rem 1.5rem;
    padding: 0rem 0rem 0.5rem;
    border-bottom: 2pt solid var(--fg);
}

header time {
    display: block;
    color: var(--gray4);
    font: normal 0.8rem JetBrainsMono, monospace;
    padding: 0rem;
    margin: 0rem;
}

header a {
    display: contents;
}

footer {
    color: var(--gray4);
	font: normal 0.8rem JetBrainsMono, monospace;
	text-align: center;
    padding: 1rem;
    margin: 2rem 0rem -1rem;
    border-top: 2pt solid var(--gray4);
}

footer a {
    color: inherit;
    font: inherit;
    text-decoration: inherit;
}

math {
    display: block;
    font: 1.5rem LatinModernMath, serif;
    max-width: 95%;
    padding: 1rem;
    margin: 0rem;
    overflow: auto;
}
