:root {
	--fg: #000;
	--bg: #fff;
    --gray4: #444;
}

@media (prefers-color-scheme: dark) {
	:root {
		--fg: #fff;
		--bg: #111;
        --gray4: #bbb;
	}
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url(../fonts/JetBrainsMono-Medium.woff2) format(woff2);
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url(../fonts/SourceSansPro-Regular.woff2) format(woff2);
    font-style: normal;
    font-display: swap;
}

body {
	color: var(--fg);
	background-color: var(--bg);
	font: 1rem/1.5rem SourceSansPro, monospace;
	max-width: 60rem;
	padding: 1rem;
	margin: 0rem auto;
}

p {
	font: normal 1rem/1.5rem SourceSansPro, sans-serif;
    text-align: justify;
    text-justify: inter-word;
    margin: 1rem 0rem;
}

a {
	color: var(--fg);
	background-color: var(--bg);
    font: 0.9rem JetBrainsMono, monospace;
    text-decoration: underline;
}

a:hover {
	color: var(--bg);
	background-color: var(--fg);
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    font-family: JetBrainsMono, monospace;
    margin: 2rem 0rem 0rem;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.2rem;
}

svg {
    display: block;
    fill: var(--fg);
    width: 10rem;
    height: 10rem;
    margin: 4rem auto 2rem;
    overflow: hidden;
}

header svg {
	display: block;
    fill: var(--fg);
	width: 2.5rem;
	height: 2.5rem;
	border: 2pt solid var(--bg);
    margin: 0em 0em 1.5rem;
}

header svg:hover {
    fill: var(--bg);
    background-color: var(--fg);
	border: 2pt solid var(--fg);
}

header h1 {
    color: var(--fg);
    font: bold 2rem JetBrainsMono, monospace;
    margin: 0rem 0rem 1.5rem;
    padding: 0rem 0rem 0.5rem;
    border-bottom: 2pt solid var(--fg);
}

header h2 {
    color: var(--gray4);
    font: normal 0.8rem JetBrainsMono, monospace;
    padding: 0rem;
    margin: 0rem;
}

header a {
    display: contents;
}

footer {
    color: var(--gray4);
	font: normal 0.8rem JetBrainsMono, monospace;
	text-align: center;
    padding: 1rem;
    margin: 2rem 0rem -1rem;
    border-top: 2pt solid var(--gray4);
}

footer a {
    color: inherit;
    font: inherit;
    text-decoration: inherit;
}
